.header-search-input {
  width: 20rem;
}

.navbar-menu .is-info:focus {
  outline: none;
  box-shadow: none;
}

.product-item {
  cursor: pointer;
}

.product-item .image {
  margin: 0.5rem 1rem 0.5rem 0.5rem;
  height: 200px;
  width: 200px;
}

.product-item .image img {
  height: 200px;
}

.product-item p.title {
  margin: 1rem 0;
}

.product-item p.title .tag {
  display: inline-block;
  margin-left: 0.5rem;
  margin-bottom: 1rem;
  line-height: 1.5rem;
}

.product-item p.description {
  font-size: 1.2rem;
}

.product-item p.price {
  font-size: 2rem;
  margin-top: 3.5rem;
}

.media + .media {
  margin-top: 0.5rem;
  padding-top: 0;
}

.message:not(:last-child) {
  margin-bottom: 1rem;
}

@media only screen and (max-width: 500px) {
  .product-item {
    display: block;
  }

  .product-item .image {
    margin: 0.5rem auto;
  }
}

.pagination-list {
  display: flex;
  list-style-type: none;
  padding: 0;
  justify-content: center; /* 페이지네이션을 가운데 정렬합니다. */
}

.pagination-list a {
  margin: 0 0.5rem; /* 페이지 버튼 간격을 조정합니다. */
  color: black;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 0.3rem 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.3rem;
  transition: background-color 0.3s;
}

.pagination-list a:hover {
  background-color: #f0f0f0;
}

.pagination-list a.active {
  background-color: #007bff;
  color: white;
}

.cart-button {
  display: inline-block;
  padding: 0.5rem 1rem;
  width: 100%;
  background-color: #007bff; /* 버튼 배경색 */
  color: white; /* 버튼 텍스트 색상 */
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.cart-button:hover {
  background-color: #0056b3; /* 호버 시 배경색 변경 */
}


